
<html lang="en">
<head>
  <title> All project</title>

</head>

<body>
<h2>All projects</h2>

<% flash.each do |type, msg| %>
  <div>
    <div class="alert alert-primary" role="alert">
      <%=msg %>
    </div>
  </div>
<% end %>
<div class="container"  id="container">
  <button class="accordion-button" style="margin-left: 990px"><%=link_to 'Create New Project', new_project_path %></button>

    <table class="table">
     <tr>
       <th> Developer name </th>
     </tr>
  <% @users.each do |user| %>
        <tr>
          <td> <%=user.name %></td>

        </tr>
    <%end %>
   </table>

</div>
</body>
</html>