<h2 style="padding-left: 500px">Add Project</h2>
<% flash.each do |type, msg| %>
  <div>
    <div class="alert alert-primary" role="alert">
      <%=msg %>
    </div>
  </div>
<% end %>

<div class="container"  id="container">
<%= form_for :project, :html => {:class=>"form-group"}, url: projects_path  do |f| %>

  Add Project: <%=f.text_field :name, class:"form-control" %><br>

  <%= f.submit "Add" %>

<% end %>
  </div>

