
<html lang="en">
<head>
  <title> All project</title>

</head>

<body>
<h2>All projects</h2>
<p>All Task</p>
<div class="container"  id="container">


<% @bugs.each do |bug| %>
   <%= bug.title  %>
   <%= bug.description  %><br>
<% end %>

</div>