<p> Select Developer</p>
<% @user.each do |users|  %>
  <%=users.name %>
  <%= users.user_type %>
  <%=link_to 'Select', project_bug_path(params: {developer_id: users.id}), method: :put %><br>
<% end %>